<app-header></app-header>

<div class="slider">
    <div class="card">
        <div class="card-content">
            <img [src]="" [alt]="" class="card-img">
            <h1 class="card-title"></h1>
            <div class="card-body">
                <div class="card-star">
                    <span class="rating-value"></span>
                    <span class="star">&#9733;</span>
                </div>
                <p class="card-price">$</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-success">remove</a>
                <a class="btn btn-border">Cart</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>