<div class="body">
    <div class="wrapper">
        <div class="form-wrapper sign-in">
            <form (ngSubmit)="login()" [formGroup]="loginForm">
                <h2>Login</h2>
                <div class="input-group">
                    <input name="uname" formControlName="uname" class="form-control" id="floatingInput" type="text" required>
                    <label for="">username</label>
                </div>
                <div class="input-group">
                    <input name="pswd" formControlName="pswd"  type="password" required>
                    <label for="">password</label>
                </div>
                <div class="remember">
                    <label><input type="checkbox">Remember me</label>
                    <div style="color: red; padding: 20px;">{{errorMsg}}</div>
                </div>
                <button type="submit">Login</button>
                <div class="signup-link">
                    <p>Don't have an account?<a routerLink="register" class="signUpBtn-link">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>