<app-header></app-header>


<div class="body">
    <div class="wrapper">
        <div class="project">
            <div class="shop">
                <div class="box">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.vberqWHYVaXBZU8FYqt1NAHaE7&pid=Api&P=0" alt="cart image">
                    <div class="content">
                        <h3>Realme 5pro</h3>
                        <h4>Price: $666</h4>
                        <p class="unit">Quantity: <input value="2"></p>
                        <p class="btn-area">
                            <i class="fa fa-trash"></i>
                            <span class="btn2">Remove</span>
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.vberqWHYVaXBZU8FYqt1NAHaE7&pid=Api&P=0" alt="cart image">
                    <div class="content">
                        <h3>Realme 5pro</h3>
                        <h4>Price: $666</h4>
                        <p class="unit">Quantity: <input value="2"></p>
                        <p class="btn-area">
                            <i class="fa fa-trash"></i>
                            <span class="btn2">Remove</span>
                        </p>
                    </div>
                </div>
                <div class="box">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.vberqWHYVaXBZU8FYqt1NAHaE7&pid=Api&P=0" alt="cart image">
                    <div class="content">
                        <h3>Realme 5pro</h3>
                        <h4>Price: $666</h4>
                        <p class="unit">Quantity: <input value="2"></p>
                        <p class="btn-area">
                            <i class="fa fa-trash"></i>
                            <span class="btn2">Remove</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="right-bar">
                <p><span>Subtotal</span><span>$3455</span></p>
                <hr>
                <p><span>Tax</span><span>$40</span></p>
                <hr>
                <p><span>Shipping</span><span>$15</span></p>
                <hr>
                <p><span>Total</span><span>$3567</span></p>

                <a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
