<app-header></app-header>
<div class="slider">
    <div class="card" *ngFor="let product of products">
        <div class="card-content">
            <img [src]="product.image" [alt]="product.title" class="card-img">
            <h1 class="card-title">{{product.title}}</h1>
            <div class="card-body">
                <div class="card-star">
                    <span class="rating-value">{{product.rating.rate}}</span>
                    <span class="star">&#9733;</span>
                </div>
                <p class="card-price">${{product.price}}</p>
            </div>
            <div class="card-footer">
                <button (click)="addToWishlist(product)" class="btn btn-success">wishlist</button>
                <a routerLink="/cart" class="btn btn-border">Cart</a>
            </div>
        </div>
    </div>
</div>
