.content h3{
    font-size: 1.7rem;
    padding-bottom: .5rem;
    color: #737373;
}
.content span{
    font-size: 1.5rem;
    color: #2C2C2C;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: #000;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.btn:hover{
    background: #0ef;
    color: #000;
}
.banner-container{
    grid: 32rem;
}
.banner{
    position: relative;
    height: 25rem;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
img:hover{
    transform: scale(1.2);
}