<section class="banner-container">
    <div class="banner">
        <img src="https://tse1.mm.bing.net/th?id=OIP.JR7o3RDg3bW-RwhIaDAXBgHaHa&pid=Api&P=0" alt="offer-image">
        <div class="content">
            <span>limited sales</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">shop now</a>
        </div>
    </div>
    <div class="banner">
        <img src="https://tse4.mm.bing.net/th?id=OIP.t6rDM6Lx5TmEpVG3ZfotPQHaHN&pid=Api&P=0" alt="offer-image">
        <div class="content">
            <span>limited sales</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">shop now</a>
        </div>
    </div>
    <div class="banner">
        <img src="https://tse2.mm.bing.net/th?id=OIP.j0FdQuTo12H7gGgOEmLqigHaEe&pid=Api&P=0" alt="offer-image">
        <div class="content">
            <span>limited sales</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">shop now</a>
        </div>
    </div>
</section>