<div class="banner-container">
    <div class="banner">
        <div class="shoe">
            <img style="border-radius: 25%;" src="https://tse2.mm.bing.net/th?id=OIP.gqeZPQmzhvyspVOHn0m9xgHaHa&pid=Api&P=0"
                alt="shoe img">
        </div>
        <div class="content">
            <span>upto</span>
            <h3>50% off</h3>
            <p>offer ends today 12pm</p>
            <a href="#" class="btn">view offer</a>
        </div>
        <div class="women">
            <img src="https://tse2.mm.bing.net/th?id=OIP.ZGVLl5lRdU8DMDAA9M4B6AHaFW&pid=Api&P=0" alt="women image">
        </div>
    </div>
</div>